{% extends "fmbase.html" %}
{% block page-content %}
 <style>
.ui-progressbar {
position: relative;

}
.progress-label {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}

#execution_ret {
	display:none;
}
#execution_ret li{
	list-style:none;
	display:inline;
}
</style>
<script>
function executeCommand(command,computers){
	var str = $("#execution_process").html();
	str += new Date();
	$("#execution_process").html(str+"</br>");
//	//TODO
	var updateProgress = InitProgressbar();
	updateProgress();
	$("#stopprocess").attr("disabled",false);
	
}
function stopExecution(){
    alert("stop");
}
 function popDia(command) {
	 var timertick =5,diagbody =  $("#dialog_body");
	 if(command==""||typeof command =="undefined"){
		diagbody.html("You should type valid command first");
	 $( "#dialog-confirm" ).dialog({
                resizable: false,
                height:240,
                modal: true,
                buttons: {
                "OK": function() {
                        $( this ).dialog( "close" );
                }
		}
                
        });

		
}else{		
	diagbody.html("Execute the command '"+ command+"' in five seconds automatically! 5");
	var timer = setInterval(function(){
		var bodycontent = diagbody.html();
                bodycontent = bodycontent.substr(0,bodycontent.length -1);
		timertick -=1;
		bodycontent += timertick;
               	diagbody.html(bodycontent);
		if(timertick==0){
			clearInterval(timer);
			$("#dialog-confirm").dialog("close");
			executeCommand(command);
		}
},1000);
	
	 $( "#dialog-confirm" ).dialog({
		resizable: false,
		height:240,
		modal: true,
		buttons: {
		"Execute immediately": function() {
			$( this ).dialog( "close" );
			clearInterval(timer);
			executeCommand(command);
		},
		Cancel: function() {
			$( this ).dialog( "close" );
			clearInterval(timer);
		}
		}
	});
}
}
function InitProgressbar(){
	var progressbar0 = $( "#progressbar" ),
	progressLabel = $( ".progress-label" );
	progressbar0.css("display","block");
	$("#execution_ret").css("display","block");
    	progressbar0.progressbar({
      		value: false,
		change: function() {
			progressLabel.text( progressbar0.progressbar( "value" ) + "%" );
		},
		complete: function() {
        		progressLabel.text( "Complete!" );
     		 }
	});
//	var val = progressbar0.progressbar( "value" ) || 0;
	return(function sendXHR(){
		 $.ajax({
                        url: "http://127.0.0.1:7777/commandresult/",
                        async:false,
                        success: function( data ) {
			        var val = progressbar0.progressbar( "value" ) || 0;
                                progressbar0.progressbar("value",val+1);
//                               sendXHR();
				$("#stopprocess").attr("disabled",true);
                         },
                        error:function(XMLHttpRequest,errorThrown){
                                sendXHR();
                        }                       
                 });
	}); 
}
</script>
<div id="page-content">
	<!-- page header -->
	<h1 id="page-header">Server Management > Command Execution</h1>

    <div class="fluid-container">
		
		<!-- widget grid -->
		<section id="widget-grid" class="">
		
			<!-- row-fluid -->
			<div class="row-fluid">
				<!-- article -->	
				<article class="span12">
					<!-- new widget -->
					<div class="jarviswidget" id="widget-id-3">
					    <header>
                        <h2>Run Commands</h2>                           
					    </header>
					    <!-- wrap div -->
					    <div>
					    
					        <div class="jarviswidget-editbox">
					            <div>
					                <label>Title:</label>
					                <input type="text" />
					            </div>
					            <div>
					                <label>Styles:</label>
					                <span data-widget-setstyle="purple" class="purple-btn"></span>
					                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
					                <span data-widget-setstyle="green" class="green-btn"></span>
					                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
					                <span data-widget-setstyle="orange" class="orange-btn"></span>
					                <span data-widget-setstyle="pink" class="pink-btn"></span>
					                <span data-widget-setstyle="red" class="red-btn"></span>
					                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
					                <span data-widget-setstyle="black" class="black-btn"></span>
					            </div>
					        </div>


					        <div class="inner-spacer"> 
					        <!-- content goes here -->
								<form class="form-horizontal themed" action="test.py">
									<fieldset>
										
										<div class="control-group">
											<label class="control-label">Enter your commands:</label>
												<div class="controls">
													<div class="input-append">
		                                                <input id="appendedDropdownButton" type="text" />
		                                                <div class="btn-group">
		                                                    <button class="btn dropdown-toggle medium" data-toggle="dropdown">Run <span class="caret"></span></button>
		                                                    <ul class="dropdown-menu btn-small pull-right">
		                                                        <li><a href="javascript:popDia($('#appendedDropdownButton').val());">Running as normal user</a></li>
		                                                        <li><a href="javascript:popDia($('#appendedDropdownButton').val());">Running as root</a></li>
		                                                    </ul>
		                                                </div>
		                                            </div>
							<button id="stopprocess" class="btn" disabled=true style="float:right"><a href="javascript:stopExecution();">stop Immediately</a></button>

                            					</div>
				
							</div>
										
									</fieldset>
								</form>

						    </div>
						    <!-- end content-->
					    </div>
					    <!-- end wrap div -->
					</div>
					<!-- end widget -->
					<div class="jarviswidget" id="widget-id-3">
					    <header>
                        <h2>Execution Results</h2>                           
					    </header>
					    <!-- wrap div -->
					    <div>
					    
					        <div class="jarviswidget-editbox">
					            <div>
					                <label>Title:</label>
					                <input type="text" />
					            </div>
					            <div>
					                <label>Styles:</label>
					                <span data-widget-setstyle="purple" class="purple-btn"></span>
					                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
					                <span data-widget-setstyle="green" class="green-btn"></span>
					                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
					                <span data-widget-setstyle="orange" class="orange-btn"></span>
					                <span data-widget-setstyle="pink" class="pink-btn"></span>
					                <span data-widget-setstyle="red" class="red-btn"></span>
					                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
					                <span data-widget-setstyle="black" class="black-btn"></span>
					            </div>
					        </div>
						<div id="progressbar" style="display:none"><div class="progress-label">Loading...</div></div>
						<div id="execution_ret">
							<ul>
								<li>
								<a href=""><span>Total number of computers:</span><span>0</span></a>
								</li>
								<li>
								<a href=""><span>number of success:</span><span></span>0</a>
								</li>
								<li>
								<a href=""><span>number of failure:</span><span>0</span></a>
								</li>
							</ul>							
						</div>
						<div id="execution_process">
		
						</div>


					    </div>
					    <!-- end wrap div -->
					</div>
					<!-- end widget -->
				</article>
				<!-- end article-->
			</div>
			<!-- end row-fluid -->
		</section>
		<!-- end widget grid -->
	</div>		
<div id="dialog-confirm" style="display:none" title="Execute command">
<p>
	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
	<span id="dialog_body"><span>
</p>
</div>
</div>
<!-- end main content -->
{% endblock %}
