{% extends "fmbase.html" %}
{% block page-content %}
<div id="page-content">
	<!-- page header -->
	<h1 id="page-header">Server Management > File Transfer</h1>

    <div class="fluid-container">
		
		<!-- widget grid -->
		<section id="widget-grid" class="">
			
			<!-- row-fluid -->
			<div class="row-fluid">
				<!-- article -->	
				<article class="span12">
					<!-- new widget -->
					<div class="jarviswidget" id="widget-id-3">
					    <header>
                        <h2>Run Commands</h2>                           
					    </header>
					    <!-- wrap div -->
					    <div>
					    
					        <div class="jarviswidget-editbox">
					            <div>
					                <label>Title:</label>
					                <input type="text" />
					            </div>
					            <div>
					                <label>Styles:</label>
					                <span data-widget-setstyle="purple" class="purple-btn"></span>
					                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
					                <span data-widget-setstyle="green" class="green-btn"></span>
					                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
					                <span data-widget-setstyle="orange" class="orange-btn"></span>
					                <span data-widget-setstyle="pink" class="pink-btn"></span>
					                <span data-widget-setstyle="red" class="red-btn"></span>
					                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
					                <span data-widget-setstyle="black" class="black-btn"></span>
					            </div>
					        </div>

					        <div class="inner-spacer"> 
					        <!-- content goes here -->
								<form class="form-horizontal themed" action="">
									<fieldset>
										
										<div class="control-group">
                                            <label class="control-label">Upload / Download</label>
                                            <div class="controls">
                                                <div class="btn-group" data-toggle="buttons-radio">
                                                    <button type="button" class="btn btn-small active">Upload</button>
                                                    <button type="button" class="btn btn-small">Download</button>
                                                </div>
                                            </div>
                                        </div>
										<div class="control-group">
											<label class="control-label">Choose a file</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input id="appendedDropdownButton" type="text" />
                                                    <div class="btn-group">
                                                    <!--
                                                        <button class="btn dropdown-toggle medium" data-toggle="dropdown">Run <span class="caret"></span></button>
                                                        -->
                                                        <button class="btn medium" >Dir</button>
                                                        <ul class="dropdown-menu btn-small pull-right">
                                                            <li><a href="javascript:void(0);">Running as normal user</a></li>
                                                            <li><a href="javascript:void(0);">Running as root</a></li>
                                                        </ul>
                                                    <!--
                                                        <button class="btn btn-media btn-info" style="margin-top:20px">
                                                            dir
                                                        </button>
                                                    -->

                                                    </div>
                                                </div>
                           					</div>
										</div>
                                        <div class="control-group">
                                            <div class="controls">
                                            <button type="button" id="fat-btn" data-loading-text="running..." class="btn btn-small btn-primary">
                                               Run 
                                            </button>
                                            </div>
                                        </div>
									</fieldset>
								</form>
						    </div>
						    <!-- end content-->
					    </div>
					    <!-- end wrap div -->
					</div>
					<!-- end widget -->
				</article>
				<!-- end article-->
			</div>
			<!-- end row-fluid -->
		</section>
		<!-- end widget grid -->
	</div>		
</div>
<!-- end main content -->
{% endblock %}
