<div class='ss-head'>
	<div class='ss-summary'>
		<div class='ss-summary-title'>Host status summary</div>
		<table class='ss-summary-table'>
			<thead>
				<tr>
					{% for k, v in ss_summary_status.iteritems %}
					<th>{{k}}</th> {% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for k, v in ss_summary_status.iteritems %}
					<td class='ss-summary-{{k}}'>{{v}}</td> {% endfor %}
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">Unhandled</th>
					<th colspan="2">Problem</th>
					<th>All</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="ss-summary-Unhandled" colspan="2">0</td>
					<td class="ss-summary-Problem" colspan="2">4</td>
					<td class="ss-summary-All"></td>
				</tr>
			</tbody>
		</table>
		<div class='ss-summary-time'>Last Updated at: </div>
	</div>
</div>
<br clear="all">
<div class='ss-content'>
	<div id='flex_service_data' style='display: none;'>{{ss_detail}}</div>
	<div id='grid-status'></div>
</div>
