{% extends "header.html" %}
{% block title %}首页{% endblock %}
{% block index %}class="active"{% endblock %}
{% block add %} class="active" {% endblock %}
{% block body %}
<div class="span9">
        <form action="add" method="post" class="form-horizontal">
        <fieldset>
           <div class="control-group">
            <label class="control-label" for="focusedInput">服务器名</label>
            <div class="controls">
            <input name="hostname" class="input-xlarge focused" id="focusedInput" type="text">
	        </div>
            <label class="control-label" for="focusedInput">ip地址</label>
            <div class="controls">
            <input name="ip" class="input-xlarge focused" id="focusedInput" type="text">
	        </div>
            <label class="control-label" for="focusedInput">端口</label>
            <div class="controls">
            <input name="port" class="input-xlarge focused" id="focusedInput" type="text" value="22">
	        </div>
            <label class="control-label" for="focusedInput">用户名</label>
            <div class="controls">
            <input name="username" class="input-xlarge focused" id="focusedInput" type="text">
            </div>
            <label class="control-label" for="focusedInput">密码</label>
            <div class="controls">
            <input name="password" class="input-xlarge focused" id="focusedInput" type="password">
           </div>
          <div class="form-actions">
          <button type="submit" class="btn btn-primary">提交</button> {{info}}
          </div>
        </fieldset>
      </form>    
    </div>
</div>
{% endblock %}
