{% extends "header.html" %}
{% block title %}首页{% endblock %}
{% block index %}class="active"{% endblock %}
{% block change %} class="active" {% endblock %}
{% block body %}
<div class="span9">
 <div class="span8">
      <table class="table table-striped">
	  <thead>
          <tr>
            <th>服务器名</th>
            <th>ip地址</th>
            <th>端口</th>
            <th>用户名</th>
          </tr>
        </thead>
        <tbody>
        {% for s in data %}
          <tr>
            <td>{{ s.hostname }}</td>
            <td>{{ s.ip }}</td>
            <td>{{ s.port }}</td>
            <td>{{ s.username }}</td>
	    <td><form action="show" method="post">
            <input type="hidden" name="id" value="{{ s.id }}">
            <button type="submit" class=".btn-small btn-primary">修改</button>
            </form>
        </td>
	    <td><form action="delete" method="post">
            <input type="hidden" name="id" value="{{ s.id }}">
            <button type="submit" class=".btn-small btn-danger">删除</button>
            </form>
        </td>
        <td>
        {% if id == s.id %}
        {{ info }}
        {% endif %}
        </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

</div>
{% endblock %}
