{% extends "header.html" %}
{% block title %}首页{% endblock %}
{% block index %}class="active"{% endblock %}
{% block pssh %} class="active" {% endblock %}
{% block body %}
<div class="span9">
    <form class="form-horizontal">
    <table class="table table-striped">
    {% for s in data %}
            <tr><td></td>
            <td>
              <label class="checkbox">
                <input name="{{ s.id }}" type="checkbox" id="optionsCheckbox">
		        </label></td>
                <td>{{ s.hostname }}</td>
		        <td>{{ s.ip }}</td>
		        </tr>
    {% endfor %}
    </table>
          <div class="control-group">
            <label class="control-label" for="textarea">命令</label>
            <div class="controls">
              <textarea name="cmd" class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">执行</button>
          </div>
      </form>
</div>
{% endblock %}
