{% extends "fmbase.html" %}
{% block page-content %}
<div id="page-content">
    <!-- page header -->
    <h1 id="page-header">Assets Management</h1>

    <div class="fluid-container">
        
        <!-- widget grid -->
        <section id="widget-grid" class="">
            
            <!-- row-fluid -->
            <div class="row-fluid">
                <article class="span12">
                    <!-- new widget -->
                    <div class="jarviswidget" id="widget-id-1">
                        <header>
                            <h2>Auto Discover Information</h2>
                        </header>
                        <!-- wrap div -->
                        <div>
                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Styles:</label>
                                    <span data-widget-setstyle="purple" class="purple-btn"></span>
                                    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                                    <span data-widget-setstyle="green" class="green-btn"></span>
                                    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                                    <span data-widget-setstyle="orange" class="orange-btn"></span>
                                    <span data-widget-setstyle="pink" class="pink-btn"></span>
                                    <span data-widget-setstyle="red" class="red-btn"></span>
                                    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                                    <span data-widget-setstyle="black" class="black-btn"></span>
                                 </div>
                             </div>

                             <div class="inner-spacer">
                             <!-- content goes here -->
                                <form class="form-horizontal themed" action="" mothod="post">
                                {% csrf_token %}
                                    <fieldset>
                                        {% for field in form %}
                                            <div class="control-group">
                                                {{ field.errors }}
                                                <label class="control-label">{{ field.label_tag }}</label>
                                                <div class="controls"> 
                                                    <input type="text" class="span12" value={{ field.value }}>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="form-actions">
                                            <button type="button" class="btn medium btn-success">
                                                Auto Discover
                                            </button>
                                            <button type="reset" class="btn medium btn-danger">
                                                Cancel
                                            </button>
                                            <!--
                                            <button type="submit" class="btn medium btn-primary">
                                                Save Changes
                                            </button>
                                            -->
                                            <input type="submit" value="Submit" />
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                            <!-- end content-->
                        </div>
                        <!-- end wrap div -->
                    </div>
                    <!-- end widget -->
                </article>
            </div>
            <!-- end row-fluid -->
        </section>
        <!-- end widget grid -->
    </div>      
</div>
<!-- end main content -->
{% endblock %}
