{% extends "fmbase.html" %}
{% block page-content %}
<div id="page-content">
    <!-- page header -->
    <h1 id="page-header">Assets Management</h1>

    <div class="fluid-container">
        
        <!-- widget grid -->
        <section id="widget-grid" class="">
            
            <!-- row-fluid -->
            <div class="row-fluid">
                <article class="span12">
                    <!-- new widget -->
                    <div class="jarviswidget" id="widget-id-1">
                        <header>
                            <h2>Auto Discover</h2>
                        </header>
                        <!-- wrap div -->
                        <div>
                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Styles:</label>
                                    <span data-widget-setstyle="purple" class="purple-btn"></span>
                                    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                                    <span data-widget-setstyle="green" class="green-btn"></span>
                                    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                                    <span data-widget-setstyle="orange" class="orange-btn"></span>
                                    <span data-widget-setstyle="pink" class="pink-btn"></span>
                                    <span data-widget-setstyle="red" class="red-btn"></span>
                                    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                                    <span data-widget-setstyle="black" class="black-btn"></span>
                                 </div>
                             </div>

                             <div class="inner-spacer">
                             <!-- content goes here -->
                                <form class="form-horizontal themed" action="" mothod="post">
                                    <fieldset>
                                        <div class="control-group error">
                                            <label class="control-label" for="inputError"><a href="/host/1/">IP1 -- Cpu</a></label>
                                            <div class="controls">
                                                <input type="text" class="span12"  id="input07" value="i7"/>
                                                <span class="help-inline">sfasfajfwfew</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">IP1 -- Platform</label>
                                            <div class="controls">
                                                <input type="text" class="span12"  id="input02" value=""/>
                                                <span class="help-inline">Ubuntn</span>
                                            </div>
                                        </div>
                                        <div class="control-group error">
                                            <label class="control-label" for="input01">IP2 -- Cpu</label>
                                            <div class="controls">
                                                <input type="text" class="span12"  id="input07" value="i7"/>
                                                <span class="help-inline">sfasfajfwfew</span>
                                            </div>
                                        </div>
                                        <div class="control-group error">
                                            <label class="control-label" for="input01">IP3 -- Memory</label>
                                            <div class="controls">
                                                <input type="text" class="span12"  id="input08" value="256G"/>
                                                <span class="help-inline">128G</span>
                                            </div>
                                        </div>
                                        <div class="control-group error">
                                            <label class="control-label" for="input01">IP4 -- Macaddress_A</label>
                                            <div class="controls">
                                                <input type="text" class="span12"  id="input09" value="00:13:20:9D:73:93"/>
                                                <span class="help-inline">00:13:20:9D:73:93</span>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="reset" class="btn medium btn-success">
                                                Discover Now 
                                            </button>
                                            <button type="reset" class="btn medium btn-danger">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn medium btn-primary">
                                                Save changes
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- end content-->
                        </div>
                        <!-- end wrap div -->
                    </div>
                    <!-- end widget -->
                </article>
            </div>
            <!-- end row-fluid -->
        </section>
        <!-- end widget grid -->
    </div>      
</div>
<!-- end main content -->
{% endblock %}
