<html>
<head>

<script type= 'text/javascript'>

function loadXMLDoc()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		//for ie7+,firefox,Chrome,opera,safari
		xmlhttp = new XMLHttpRequest();
	}
	else
	{	// for IE6,IE5
		xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
	}

	xmlhttp.onreadystatechange = function()
	{
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
		{
			document.getElementById('myDiv').innerHTML=xmlhttp.responseText;
		}
	}


	xmlhttp.open("GET","?fname=alex",true);
	xmlhttp.send();
}

</script>
</head>

<body>

<h1> AJAX </h2>

	<button type="button" action="" onclick="loadXMLDoc();">Request data</button>

	<div id="myDiv">
	{% if response_data %}	
		<ul>
		{% for msg in response_data %}
			<li>{{ msg }} </li>
		{% endfor %}
		</ul>
	{% endif %}

	</div>

</body>

</html>
