{% if request.user.is_authenticated %}  
        <div class="pull-right">  
            <a href=#>Welcome{{request.user}}</a>    
            <a class="btn danger small" href="{% url "triWeb.login.logout_view" %}">Logout</a>
        </div>  
{% else %}  
          <form action="{% url "triWeb.login.login_view" %}" method='post' class="pull-right">  
            {% csrf_token %}  
            <input name='username' class="input-small" type="text" placeholder= "username"
            <input name='password' class="input-small" type="password" placeholder="password">
            <button class="btn" type="submit">login</button>  
          </form>  
{% endif %}
