<html>

<head>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>


	<style type="text/css">
	table {border:1px ;
		border-collapse: collapse;
		}
	td {  
	     border:1px solid #B1CDE3;
	     padding:3px;
	     color: #4f6b72;
		 }
	
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
 text-decoration: none; //underline
color:red;

bold;
}



.datagrid table { border-collapse: collapse;
	 text-align: left; width: 100%; }
.datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
	 width:70%;
	 background: #fff; 
	 overflow: hidden; 
	 border: 1px solid #997B5D;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, 
.datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
	background:-moz-linear-gradient( center top, #006699 5%, #247F16 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#247F16');
	background-color:#006699; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 1px solid ghostwhite; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #6B0E14; border-left: 1px solid #4FA1FF;
	font-size: 12px;font-weight: normal; }
.datagrid table tbody 
.alt td { background: #E6FFE8; color: #00496B; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child 

.td { border-bottom: 1px solid red; }	

	</style>
<script language="javascript" type="text/javascript">

function toggle(id){
        var tb=document.getElementById(id);
        if(tb.style.display=='none')
                tb.style.display='block';
        else 	
		tb.style.display='none';}

function status_id(id_name) {
	if (id_name == "status_1")
		return status_name = 'UP';
        if (id_name == "status_2")
                return status_name ='BUSY';
        if (id_name == "status_3")
                return status_name ='DOWN';
        if (id_name == "status_4")
                return status_name = 'OFFLINE';
	}

displayTime();
function displayTime()
{
        var today;
        today = new Date();
        timeString = today.toLocaleString();
        document.getElementById("time").innerHTML = timeString;
        setTimeout("displayTime();", 1000);
}

function sub_hostDetail(form_id){
                //document.form1.submit();
                document.getElementById(form_id).submit();
                //document.
        }

//$(document).ready(function(){
//	$.get("test.php", { name: "John", time: "2pm" } );


//});
        function sub_serverList(form_id){
                //document.form1.submit();
                document.getElementById(form_id).submit();
                //document.
        }
</script>
<script type="text/javascript">
$(document).ready(function(){
	$("#ip_link").click(function(){
		alert('dfdf');
		$.get("/hostDetail/",{ip:"ip"});
	});
}

</script>

	
</head>



<body>

{% if group_list %}

<div class="datagrid" width=800><table>
	<th valign > Host group summary</th>

	<thead><tr><th>Group</th><th>Servers</th><th>OK</th><th>Busy</th><th>Down</th><th>Off Line</th></tr></thead>

	{% for gName,ip_list in server_list_dic.items %}
	<tbody>		
		<tr class='alt'><td><strong>{{ gName }} </strong> 
			<!-- <input type="button" value="testMenu" onClick="toggle('{{gName}}')"/> -->
			&nbsp; <img src="/site_media/detail_icon.png"  onClick="toggle('{{gName}}')" border=0; width="15" height="15">

			</td>
			<td>
			{{ip_list|length}}
			{% for G_NAME,status in server_status_dic.items %}
				{% ifequal G_NAME gName %} 
				<!-- Show status -->
					{% for i in status %}
						<td> <a href="javascript:toggle('{{gName}}_{{forloop.counter}}');"  >{{ i }} </a> &nbsp; </td>
						 
					{% endfor %}
				{% endifequal %}
			{% endfor %}
		</td>
		
		<tr > <td width=800 height=auto colspan=6 id={{gName}} style="display:none;">

				<table border= solid black;>
				<tr><td><strong>Host Name</td> <td><strong>Status</td> <td><strong>Duration</td> <td><strong>Last Check</td> <td> <strong>Status Information</td></tr>
				
					{% for ip in ip_list %}
					 <tr onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='white'" ><td width=120>	<!--<a id="ip_link" href='#'         >{{ip}}</a> -->
					        <form id= {{ip}} action='/hostDetail/' method = 'get' >
                                                        <input  type='hidden' name='IP_ADDR' value = {{ip}} />
                                                       <A HREF="javascript:sub_serverList('{{ip}}');" > {{ip }}</A>
                                                </form>
						</td>


						{% ifequal ip.status "UP" %}
							<td  style=background-color:green;color:yellow>{{ ip.status }}
						{% endifequal %}

                                                {% ifequal ip.status "DOWN" %}
                                                        <td style=background-color:red;color:yellow>{{ ip.status }}
                                                {% endifequal %} 

                                                {% ifequal ip.status "BUSY" %}
                                                        <td style=background-color:yellow;>{{ ip.status }}
                                                {% endifequal %}

                                                {% ifequal ip.status "OFFLINE" %}
                                                        <td style=background-color:gray;color:yellow;>{{ ip.status }}
                                                {% endifequal %}
	
					 <td>{{ip.online_date}} <td> 2013-01-03 15:32:24  <td> {{ ip.ping_status }} </tr>
					
					{% endfor %}
	
					<tr>	
						{% for sub_g_name, sub_ip_list in sub_server_list_dic.items %}
							
							{% ifequal sub_g_name.parent_group gName.group_name %}
							    
								<tr><td width=120><strong> ==>{{sub_g_name}}</strong> </tr>
							      {% for ip_addr in sub_ip_list %}	
								<tr  onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='white'">
									<td width=120 style="padding-left:30px"> 
                                                				<form id= {{ip_addr}} action='/hostDetail/' method = 'get' >
                                                        			<input  type='hidden' name='IP_ADDR' value = {{ip_addr}} />
                                                       				<A HREF="javascript:sub_serverList('{{ip_addr}}');" > {{ip_addr }}</A>
                                                				</form>
							

                                                		{% ifequal ip_addr.status "UP" %}
                                                        		<td width=100 style=background-color:green;color:yellow>{{ ip_addr.status }}
                                                		{% endifequal %}

                                                		{% ifequal ip_addr.status "DOWN" %}
                                                        		<td style=background-color:red;color:yellow>{{ ip_addr.status }}
                                                		{% endifequal %} 

                                                		{% ifequal ip_addr.status "BUSY" %}
                                                        		<td style=background-color:yellow;>{{ ip_addr.status }}
                                                		{% endifequal %}

                                                		{% ifequal ip_addr.status "OFFLINE" %}
                                                        		<td style=background-color:gray;color:yellow>{{ ip_addr.status }}
                                                		{% endifequal %}
        
                                      			 	  <td>{{ip_addr.online_date}} <td> 2013-01-03 15:33:20 <td> {{ip_addr.ping_status}} </tr> 
							{% ifequal   group_name.parent_group gName.group_name %}
									{{ group_name }}
							{% endifequal %}
						{% endfor %}
						<!--"--+subgroup--" -->
					            {% endifequal %}
						{% endfor %}
				</table>
					
			</td>
		</tr>
			
		<tr><td colspan = 6 id = "{{gName}}_1" style="display:none;">
			<table width=800  >
			<tr><td width=120>
			<strong>Host Name</td> <td><strong>Status</td> <td><strong>Duration</td> <td><strong>Last Check</td> <td> <strong>Status Information</td></tr>	
				{% for ip in server_status_dic2.UP %}
					<!--{% print server_status_dic2.UP%} 
					 {%print ip.group_name.all.0.group_name  gName.group_name%}  -->
					{% ifequal ip.group_name.all.0.group_name gName.group_name %}
						<tr><td>{{ip }}  <td style="background-color:green;color:yellow"> {{ ip.status}}  <td>  <td> <td>
					{%endifequal %}
				{% endfor %}
			</table>
	        <tr><td colspan = 6 id = "{{gName}}_2" style="display:none;">
                        <table width=800  >
                        <tr><td width=120>
                        <strong>Host Name</td> <td><strong>Status</td> <td><strong>Duration</td> <td><strong>Last Check</td> <td> <strong>Status Information</td></tr>  
                                {% for ip in server_status_dic2.BUSY %}
                                        <!--{% print server_status_dic2.UP%} 
                                         {%print ip.group_name.all.0.group_name  gName.group_name%}  -->
                                        {% ifequal ip.group_name.all.0.group_name gName.group_name %}
                                                <tr><td>{{ip }}  <td style="background-color:yellow;"> {{ ip.status}}  <td>  <td> <td>
                                        {%endifequal %}
                                {% endfor %}
                        </table>
                <tr><td colspan = 6  id = "{{gName}}_3" style="display:none;">
                        <table width=800 >
                        <tr><td width=120>
                        <strong>Host Name</td> <td><strong>Status</td> <td><strong>Duration</td> <td><strong>Last Check</td> <td> <strong>Status Information</td></tr>  
                                {% for ip in server_status_dic2.DOWN %}
                                        {% ifequal ip.group_name.all.0.group_name gName.group_name %}
                                                <tr><td>{{ip }}  <td style="background-color:red;color:yellow"> {{ ip.status}}  <td>  <td> <td>
                                        {%endifequal %}
                                {% endfor %}
                        </table>        
                <tr><td colspan = 6  id = "{{gName}}_4" style="display:none;">
                        <table width=800 >
                        <tr><td width=120>
                        <strong>Host Name</td> <td><strong>Status</td> <td><strong>Duration</td> <td><strong>Last Check</td> <td> <strong>Status Information</td></tr>  
                                {% for ip in server_status_dic2.OFFLINE %}
                                        {% ifequal ip.group_name.all.0.group_name gName.group_name %}
                                                <tr><td>{{ip }}  <td style="background-color:gray;color:yellow"> {{ ip.status}}  <td>  <td> <td>
                                        {%endifequal %}
                                {% endfor %}
                        </table>           
	{% endfor %}
	</tbody>
	</table>
	
{% endif %} 

<!--
<form action= '/hostDetail/' method='get'  >{% csrf_token %}
<br>

        <textarea cols=50 name = 'IP_ADDR'></textarea>
        <input type='submit'    value='Run command' />
</form>
-->
</body>
</html>

