<html>
<head>

<!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script--> 
<script type="text/javascript" src="/site_media/jquery.1.91.js"> </script>
<script src="/site_media/js/highcharts.js "></script>
                <script type="text/javascript"  src="/site_media/js/themes/gray.js"></script>
<script src="/site_media/js/modules/exporting.js"></script>
{% load chartit %}
	{{ weatherchart|load_charts:"container"}}
</head>
{{ STATIC_URL}}
{%  print STATIC_URL %}
<body>
	<div id = "container" > Chart will be rendered herer</div>
</body>
</html>


