<html>
<head>
<script type="text/JavaScript">
	<!--
	function AutoRefresh(interval) {
        	setTimeout("location.reload(true);",interval);
	}	
	//   -->

        function sub_serverList(form_id){
                //document.form1.submit();
                document.getElementById(form_id).submit();
                //document.
        }
</script>


<style type="text/css">
        #iconStyle{border:0;width:20;height:20}
        #iconSign{padding-right:100px}
</style>

</head>

<body onload="JavaScript: AutoRefresh(15000);">
<!--{{ IP_List}}-->
<p> <strong>Total devices:</strong> {{TotalServers}} </p>
<table  align="right" id="iconSign">
	<tr>
	<td> <img id="iconStyle" src="/site_media/serverUp.jpg"  /></td> <td>Up</td>
	</tr>
	
        <tr>
        <td> <img id="iconStyle" src="/site_media/serverDown.jpg"  /></td> <td>Down</td>
        </tr>

        <tr>
        <td> <img id="iconStyle" src="/site_media/serverBusy.jpg"  /></td> <td>Busy</td>
        </tr>

        <tr>
        <td> <img id="iconStyle" src="/site_media/offLine.jpg"  /></td> <td>Offline</td>
        </tr>

</table>
<br>
<table >
<!--<tr>

{% for serverName,status in ip_dic.items %}
	{% if forloop.counter|divisibleby:"5" %}
		</tr></tr>
	{% endif %}
	<td align=center style="padding:5px">
	{% ifequal status 'UP' %} 
    		<form id= {{ip}} action='/hostDetail/' method = 'get' >
                     <input  type='hidden' name='IP_ADDR' value = {{ip}} />
                     <A HREF="javascript:sub_serverList('{{ip}}');" ><img src="/site_media/serverUp.jpg" border=0;width="40" height="40" >{{ip }}</A>
                </form>
		<br>
	{% endifequal %}

	{% ifequal status 'DOWN' %}
                <A HREF="#" ><img src="/site_media/serverDown.jpg" border=0;width="40" height="40" ></A>
                <br>
        {% endifequal %}
	
	{% ifequal status 'BUSY' %}
                <A HREF="#" ><img src="/site_media/serverBusy.jpg" border=0;width="40" height="40" ></A>
                <br>
        {% endifequal %}

        {% ifequal status 'OFFLINE' %}
                <A HREF="#" ><img src="/site_media/offLine.jpg" border=0;width="40" height="40" ></A>
                <br>
        {% endifequal %}


	 {{ serverName }}
	</td>
{% endfor %}
</tr>

-->
<tr>
{% for ip in ip_pool %}
        {% if forloop.counter|divisibleby:"5" %}
                </tr></tr>
        {% endif %}
        <td align=center style="padding:5px">
        {% ifequal ip.status 'UP' %}
                <form id= {{ip.ip}} action='/hostDetail/' method = 'get' >
                     <input  type='hidden' name='IP_ADDR' value = {{ip.ip}} />
                     <A HREF="javascript:sub_serverList('{{ip.ip}}');" ><img src="/site_media/serverUp.jpg" border=0;width="40" height="40" ></A>
                </form> 
        {% endifequal %}

        {% ifequal ip.status 'DOWN' %}
                <form id= {{ip.ip}} action='/hostDetail/' method = 'get' >
                     <input  type='hidden' name='IP_ADDR' value = {{ip.ip}} />
                     <A HREF="javascript:sub_serverList('{{ip.ip}}');" ><img src="/site_media/serverDown.jpg" border=0;width="40" height="40" ></A>
                </form> 
        {% endifequal %}

        {% ifequal ip.status 'BUSY' %}
                <form id= {{ip.ip}} action='/hostDetail/' method = 'get' >
                     <input  type='hidden' name='IP_ADDR' value = {{ip.ip}} />
                     <A HREF="javascript:sub_serverList('{{ip.ip}}');" ><img src="/site_media/serverBusy.jpg" border=0;width="40" height="40" ></A>
                </form>
        {% endifequal %}

        {% ifequal ip.status 'OFFLINE' %}
                <form id= {{ip.ip}} action='/hostDetail/' method = 'get' >
                     <input  type='hidden' name='IP_ADDR' value = {{ip.ip}} />
                     <A HREF="javascript:sub_serverList('{{ip.ip}}');" ><img src="/site_media/offLine.jpg" border=0;width="40" height="40" ></A>
                </form>
        {% endifequal %}


         {{ ip.server_name }}
        </td>
{% endfor %}
</html>
